@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  --color-primary: #1f2937;
  --color-secondary: #3882f6;
  --color-tertiary: #e5e7eb;

  --black: #1f2937;
  --blue: #3882f6;
  --light-gray: #e5e7eb;

  --white: #f9faf8;

  --header-xl: 3.75rem;
  --header: 1.5rem;
  --text-size: 1rem;
  --text-xl: 2rem;

  --padding-lr-desktop: calc((205 / 1440) * 100vw);
  --padding-lr-mobile: calc((20 / 375) * 100vw);
}

* html {
  font-size: 18px;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: var(--color-primary);
  color: var(--white);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
}

/* HEADER */

.header a {
  color: var(--white);
  text-decoration: none;
}

.logo a {
  font-size: var(--header);
  font-weight: bold;
}

/* NAVBAR */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--padding-lr-desktop);
}

.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 18px;
}

.nav-item a {
  color: var(--color-tertiary);
}

.nav-item {
  position: relative;
}

.nav-item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--color-tertiary);
  transform: scaleX(0);
  transition: all 300ms;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item.current::after {
  transform: scaleX(1);
}

/*Start Contact Us CSS*/

.container-contact {
  padding: 20px var(--padding-lr-desktop);
}
.overlay {
  padding: 120px;
  background-color: var(--color-primary);
  background-image: url("../images/shampoo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}

.overlay-text a {
  text-decoration: none;
  color: var(--white);
}
.overlay-heading {
  text-align: center;
  color: var(--white);
  padding: 40px 0;
  margin: 0;
  font-size: 4.2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  mix-blend-mode: screen;
  background-color: aliceblue;
  width: 60%;
  border-radius: 16px;
  z-index: 1000;
  opacity: 0.7;
}
.overlay-item {
  padding: 0 10px;
}

.contact-us .inner {
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
  overflow: hidden;
}
.contact-us .contact-us-left {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}
.contact-us .contact-us-form {
  padding: 50px 40px;
}
.contact-us .contact-us-form h2 {
  position: relative;
  font-size: 32px;
  color: #333;
  font-weight: 600;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 12px;
  padding-bottom: 20px;
  text-align: left;
}
.contact-us .contact-us-form h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: var(--color-secondary);
}
.contact-us .contact-us-form p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
}
.contact-us .form {
  margin-top: 30px;
}
.contact-us .form .form-group {
  margin-bottom: 22px;
}
.contact-us .form .form-group input {
  width: 96%;
  height: 50px;
  border: 1px solid #eee;
  padding: 0px 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}
.contact-us .form .form-group label {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}
.contact-us .form .form-group textarea {
  width: 96%;
  height: 100px;
  border: 1px solid #eee;
  text-transform: capitalize;
  padding: 18px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}
.contact-us .form .form-group.login-btn {
  margin: 0;
}
.contact-us .form button {
  height: 45px;
  width: 100%;
  background-color: var(--color-primary);
  border: none;
}
.btn {
  color: var(--white);
  line-height: 20px;
  width: 100%;
}
.contact-us .form .btn:hover {
  background: var(--color-secondary);
  color: var(--white);
}

.contact-us .contact-info {
  margin-top: 80px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.contact-us .single-info {
  background: var(--color-primary);
  padding: 40px 60px;
  width: 20%;
  height: auto;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.contact-us .single-info:hover {
  transform: translateY(-5px);
}
.contact-us .single-info i {
  font-size: 42px;
  color: var(--white);
  position: absolute;
  left: 40px;
}
.contact-us .single-info .content {
  margin-left: 45px;
}
.contact-us .single-info .content h3 {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}
.contact-us .single-info .content p {
  color: var(--white);
  margin-top: 5px;
}
/* Google Map */
.contact-us #myMap {
  height: 100%;
  width: 100%;
}

/* HAMBURGER BUTTON */

.hamburger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  background-color: transparent;
  border: none;
}

.bar {
  content: "";
  background-color: var(--white);
  height: 3px;
  width: 100%;
  transform: translateY(0) rotateZ(0deg);
  opacity: 1;
  transition: all 300ms;
}

.menu {
  position: absolute;
  display: none;
}

.menu:checked ~ .hamburger-btn .bar-1 {
  transform: translateY(10px) rotateZ(45deg);
}

.menu:checked ~ .hamburger-btn .bar-3 {
  transform: translateY(-12px) rotateZ(-45deg);
}

.menu:checked ~ .hamburger-btn .bar-2 {
  opacity: 0;
}

@media all and (max-width: 600px) {
  .hamburger-btn {
    display: flex;
  }

  .navbar {
    padding: 20px var(--padding-lr-mobile);
  }

  .nav {
    position: absolute;
    left: calc(var(--padding-lr-mobile) * (-1));
    top: 40px;

    flex-direction: column;

    height: 100vh;
    width: calc(100vw - var(--padding-lr-mobile));

    padding-top: 50px;
    padding-left: calc(var(--padding-lr-mobile) * 2);

    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: center right;
    z-index: 100;
    transition: transform 300ms;

    gap: 24px;
  }

  .nav-item::after {
    display: none;
  }

  .menu:checked ~ .nav {
    transform: scaleX(1);
  }
}
