@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  --color-primary: #1f2937;
  --color-secondary: #3882f6;
  --color-tertiary: #e5e7eb;

  --black: #1f2937;
  --blue: #3882f6;
  --light-gray: #e5e7eb;

  --white: #f9faf8;

  --header-xl: 3.75rem;
  --header: 1.5rem;
  --text-size: 1rem;
  --text-xl: 2rem;

  --header-xl-responsive: calc((48 / 1440) * 100vw);

  --padding-lr-desktop: calc((205 / 1440) * 100vw);
  --padding-lr-mobile: calc((20 / 375) * 100vw);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  position: relative;
  /* margin: 0; */
  min-height: calc(100vh - 91px);
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
}

.header,
footer {
  background-color: var(--color-primary);
  color: var(--white);
}

footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 55px;
}

footer p {
  text-align: center;
}

/* HEADER */

.header a {
  color: var(--white);
  text-decoration: none;
}

.logo a {
  font-size: var(--header);
  font-weight: bold;
}

/* NAVBAR */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--padding-lr-desktop);
}

.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 18px;
}

.nav-item a {
  color: var(--color-tertiary);
}

.nav-item {
  position: relative;
}

.nav-item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--color-tertiary);
  transform: scaleX(0);
  transition: all 300ms;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item.current::after {
  transform: scaleX(1);
}

/* HAMBURGER BUTTON */

.hamburger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  background-color: transparent;
  border: none;
}

.bar {
  content: "";
  background-color: var(--white);
  height: 3px;
  width: 100%;
  transform: translateY(0) rotateZ(0deg);
  opacity: 1;
  transition: all 300ms;
}

.menu {
  position: absolute;
  display: none;
}

.menu:checked ~ .hamburger-btn .bar-1 {
  transform: translateY(10px) rotateZ(45deg);
}

.menu:checked ~ .hamburger-btn .bar-3 {
  transform: translateY(-12px) rotateZ(-45deg);
}

.menu:checked ~ .hamburger-btn .bar-2 {
  opacity: 0;
}

/* HERO */

.hero {
  padding: 0 var(--padding-lr-desktop);
  padding-right: 0;
}

.hero .title {
  font-size: var(--header-xl);
  /* font-size: 46px; */
  /* font-size: var(--header-xl-responsive); */
}

.container {
  display: flex;
  align-items: center;
  height: 485px;
  gap: 124px;
}

.description {
  margin-top: calc((1 / 3) * 2rem);
  margin-bottom: 2rem;
  color: var(--color-tertiary);
}

.image-wrapper {
  position: relative;
  width: 60vw;
  height: 100%;
}

.image-wrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  object-fit: cover;
  transform: rotateY(180deg);
}

.btn {
  padding: 10px 21px;
  background-color: var(--color-secondary);
  color: var(--white);
  border-radius: 10px;
  transition: all 300ms;
}

.btn:hover {
  background-color: var(--white);
  color: var(--color-secondary);
}

.btn-transparent {
  border: 2px solid var(--white);
  color: var(--white);
  text-decoration: none;
}

/* CARD */

.card {
  width: 160px;
  text-align: center;
}

.card:hover .icon-wrapper {
  transform: scale(1.1);
}

.card-header {
  background-color: #fd8484;
  border-radius: 16px;
  margin-bottom: 12px;
}

.card .icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 16px;
  transition: transform 300ms;
}

.card .icon-wrapper img {
  height: 80px;
  width: 80px;
}

.card-heart .icon-wrapper {
  background-color: #ffd0d0;
}

.card-health .icon-wrapper {
  background-color: #c8fede;
}

.card-bolt .icon-wrapper {
  background-color: #fdf5d8;
}

.card-hammer .icon-wrapper {
  background-color: #dff9ff;
}

/* SECTIONS */

.section {
  margin-top: 55px;
  text-align: center;
  padding: 0 var(--padding-lr-desktop);
}

.section-header h2 {
  font-size: var(--text-xl);
}

.section .container {
  margin-top: 55px;
  justify-content: center;
  align-items: baseline;
  gap: calc((50 / 1440) * 100vw);
  height: auto;
  flex-wrap: wrap;
}

.section-gray {
  padding-top: 135px;
  padding-bottom: 105px;
  background-color: var(--color-tertiary);
}

.section-gray .main {
  padding: 0 calc((100 / 1440) * 100vw);
}

.quote {
  font-weight: 300;
  font-style: italic;
  font-size: var(--text-xl);
}

.author {
  text-align: right;
  font-weight: 700;
}

.section-cta .main {
  padding: 35px calc((100 / 1440) * 100vw);
  background-color: var(--color-secondary);
  color: var(--white);
  text-align: left;
  border-radius: 16px;
}

.section-cta .text-wrapper {
  /* flex-grow: 2; */
  width: 60%;
}

.section-cta .description {
  margin: 0;
  margin-top: 12px;
}

.section-cta .container {
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.button-wrapper {
  width: fit-content;
}

@media all and (max-width: 745px) {
  .hamburger-btn {
    display: flex;
  }

  .navbar {
    padding: 20px var(--padding-lr-mobile);
  }

  .nav {
    position: absolute;
    left: 0;
    top: 71px;

    flex-direction: column;

    height: 100vh;
    width: 100vw;

    padding-top: 50px;
    padding-left: calc(var(--padding-lr-mobile) * 1);

    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: center right;
    z-index: 100;
    transition: transform 300ms;

    gap: 24px;
  }

  .section {
    padding-left: var(--padding-lr-mobile);
    padding-right: var(--padding-lr-mobile);
  }

  .nav-item::after {
    display: none;
  }

  .menu:checked ~ .nav {
    transform: scaleX(1);
  }

  .hero {
    text-align: center;
    padding: 0 var(--padding-lr-mobile);
  }

  .hero .image-wrapper {
    display: none;
  }

  .section-cta .text-wrapper {
    width: auto;
    text-align: center;
  }

  .section-cta .container {
    flex-direction: column;
    gap: 2rem;
  }
}
