@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  --color-primary: #1f2937;
  --color-secondary: #3882f6;
  --color-tertiary: #e5e7eb;

  --black: #1f2937;
  --blue: #3882f6;
  --light-gray: #e5e7eb;

  --white: #f9faf8;

  --header-xl: 3.75rem;
  --header: 1.5rem;
  --text-size: 1rem;
  --text-xl: 2rem;

  --padding-lr-desktop: calc((205 / 1440) * 100vw);
  --padding-lr-mobile: calc((20 / 375) * 100vw);
}

* html {
  font-size: 18px;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: var(--color-primary);
  color: var(--white);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
}

/* HEADER */

.header a {
  color: var(--white);
  text-decoration: none;
}

.logo a {
  font-size: var(--header);
  font-weight: bold;
}

/* NAVBAR */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--padding-lr-desktop);
}

.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 18px;
}

.nav-item a {
  color: var(--color-tertiary);
}

.nav-item {
  position: relative;
}

.nav-item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--color-tertiary);
  transform: scaleX(0);
  transition: all 300ms;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item.current::after {
  transform: scaleX(1);
}

/* HAMBURGER BUTTON */

.hamburger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  background-color: transparent;
  border: none;
}

.bar {
  content: "";
  background-color: var(--white);
  height: 3px;
  width: 100%;
  transform: translateY(0) rotateZ(0deg);
  opacity: 1;
  transition: all 300ms;
}

.menu {
  position: absolute;
  display: none;
}

.menu:checked ~ .hamburger-btn .bar-1 {
  transform: translateY(10px) rotateZ(45deg);
}

.menu:checked ~ .hamburger-btn .bar-3 {
  transform: translateY(-12px) rotateZ(-45deg);
}

.menu:checked ~ .hamburger-btn .bar-2 {
  opacity: 0;
}

@media all and (max-width: 600px) {
  .hamburger-btn {
    display: flex;
  }

  .navbar {
    padding: 20px var(--padding-lr-mobile);
  }

  .nav {
    position: absolute;
    left: calc(var(--padding-lr-mobile) * (-1));
    top: 40px;

    flex-direction: column;

    height: 100vh;
    width: calc(100vw - var(--padding-lr-mobile));

    padding-top: 50px;
    padding-left: calc(var(--padding-lr-mobile) * 2);

    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: center right;
    z-index: 100;
    transition: transform 300ms;

    gap: 24px;
  }

  .nav-item::after {
    display: none;
  }

  .menu:checked ~ .nav {
    transform: scaleX(1);
  }
}
